@keyframes neon-pulse {
    0% {
        opacity: 1;
        text-shadow: 0 0 5px #FF00FF, 0 0 10px #FF00FF;
    }
    50% {
        opacity: 0.5;
        text-shadow: 0 0 2px #FF00FF;
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 5px #FF00FF 0 0 10px #FF00FF;
    }
}

.keyword-glow {
    color: #FF00FF !important;
    text-shadow: 0 0 5px #FF00FF, 0 0 10px #FF00FF;
    font-weight: bold;
    cursor: pointer;

    animation: neon-pulse 1.5s infinite ease-in-out;
}
